.filter-sliders-section {
  padding: 0px 40px;
  max-height: 600px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  overflow: hidden;
  padding-bottom: 30px;
  background: #e2e2e2; }
  .filter-sliders-section .checkbox-label-container {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }

.filter-sliders-section.hidden-filters {
  max-height: 0;
  padding-bottom: 0;
  z-index: -1;
  overflow: hidden; }

.noUi-target div {
  cursor: pointer; }

.checkbox-container {
  margin-bottom: 50px; }

.checkbox-label-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-align: center;
          align-items: center; }
  .checkbox-label-container h3 {
    margin: 14px 0px; }

.filter-toggle-label-container,
.menu-header-label-container {
  background-color: #030303;
  cursor: pointer; }

.filter-toggle-container {
  margin-bottom: 0; }

.options-label {
  margin: 10px 0px; }

.option-label, .checkbox {
  cursor: pointer; }

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 210%) !important;
  transform: translate(-50%, 210%) !important;
  left: 50%;
  bottom: 120%; }

c
.noUi-touch-area, .disable-filter, .noUi-handle::before, .noUi-handle::after {
  cursor: pointer; }

@media screen and (max-width: 800px) {
  .filter-toggle-label h2 {
    margin: 0; } }

#app {
  font-family: sans-serif;
  display: grid;
  grid-template-areas: 'toolbar map';
  grid-template-columns: 300px auto;
  grid-template-rows: 100vh 100vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

#toolbar {
  grid-area: toolbar;
  background-color: #030303;
  overflow: auto; }

#map {
  height: 100vh;
  grid-area: map; }

body {
  margin: 0; }

td {
  max-width: 400px;
  padding: 5px; }

.forecast-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.snow-forecast {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center; }
  .snow-forecast button {
    max-width: 200px; }

@media screen and (max-width: 800px) {
  #app {
    display: grid;
    grid-template-areas: 'map' 'toolbar';
    grid-template-columns: auto;
    grid-template-rows: 65vh 35vh; }
  #toolbar {
    height: 35vh;
    grid-area: toolbar; }
  #map {
    height: 65vh;
    grid-area: map; } }
