$base-color: #a7a7a7;
$dark: #6d6d6d;
$darker: #494949;
$darkest: #3d3d3d;
$light: #c9c9c9;
$lighter: #e2e2e2;
$border-dark: rgba($base-color, 0.88);
$text-blue: rgb(207, 224, 236);
$highlight-blue: rgb(81, 158, 212);
$darker-blue: rgb(21, 95, 148);
$darkest-blue:  rgb(10, 41, 63);