/* The switch - the box around the slider */


.switch-container-right {
  justify-content: flex-end;
}

.switch-container-stretch{
  justify-content: space-between;
}

.switch-container-center{
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 34px;
}

.menu-header-container .slider{
  background-color: $lighter;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -6px;
  bottom: -4px;
    background: #FFF;
  -webkit-transition: .3s;
  transition: .3s;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  border: 1px solid #D9D9D9;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $highlight-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $highlight-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
