* {
    font-family: sans-serif;
}

#app {
    display: grid;
    grid-template-areas: 'toolbar map';
    
  grid-template-columns: 400px auto;
  grid-template-rows: 100vh 100vh;
}


body{
    margin: 0;
}
#toolbar{
    padding: 25px;
    grid-area:toolbar;
    background-color:lightgrey;
}

#map{
    height: 100vh;
    grid-area: map;
}

#filter-sliders-section{
    padding: 0px 50px;
    transition: max-height .5s;
    max-height: 400px;
}

.hidden-filters{
    max-height: 0!important;
    overflow: hidden!important;
}

.checkbox-container{
    margin-bottom: 50px;
}
.checkbox-label {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    cursor: pointer;
}

td {
    max-width: 400px;
    padding: 5px;
}

.forecast-box{
    display: flex;
    justify-content: center;
}

.snow-forecast{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    text-align: center;
    button{
        max-width: 200px;
    }
}

.noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 210%) !important;
    transform: translate(-50%, 210%) !important;
    left: 50%;
    bottom: 120%;
}
c

.noUi-touch-area, .disable-filter, .noUi-handle::before, .noUi-handle::after{
    cursor: pointer;
}

@media screen 
  and (max-width: 800px)  { 
      #app {
    display: grid;
    grid-template-areas: 
    'map'
    'toolbar' ;
    
  grid-template-columns: auto;
  grid-template-rows: 70vh 30vh;
}
      
#toolbar{
    padding: 50px;
    height: 50vh;
}

#map{
    height: 50vh;
}
}


